# **Análisis de Churn de Clientes**

Este proyecto aborda el desafío de identificar los factores que influyen en la cancelación de servicios por parte de los clientes. Utiliza datos reales extraídos desde una API en formato JSON, aplicando técnicas de ETL para su transformación y análisis. A través de visualizaciones estratégicas y un análisis exploratorio profundo, se generan insights clave para mejorar la retención de clientes.

## 1. Configuración del Entorno
Primero, importamos las librerías necesarias para el análisis y la visualización de datos.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

## 2. Carga y Transformación Inicial de Datos
En este paso, cargamos los datos desde el archivo JSON y los transformamos en un DataFrame de Pandas. La estructura del JSON es anidada, por lo que utilizaremos pd.json_normalize para aplanarla y facilitar su manipulación.

In [5]:
# Cargar el archivo JSON
file_path = 'data/TelecomX_Data.json'
with open(file_path, 'r') as f:
    data = json.load(f)

# Verificar la estructura del JSON para asegurar el aplanamiento correcto
if isinstance(data, dict) and 'customers' in data:
    customers = data['customers']
else:
    customers = data

# Aplanar todos los campos anidados en un solo DataFrame
df = pd.json_normalize(customers, sep='.')

# Renombrar columnas para mayor claridad
df = df.rename(columns={
    'customerID': 'customerID',
    'Churn': 'Churn',
    'customer.gender': 'Gender',
    'customer.SeniorCitizen': 'SeniorCitizen',
    'customer.Partner': 'Partner',
    'customer.Dependents': 'Dependents',
    'customer.tenure': 'Tenure',
    'phone.PhoneService': 'PhoneService',
    'phone.MultipleLines': 'MultipleLines',
    'internet.InternetService': 'InternetService',
    'internet.OnlineSecurity': 'OnlineSecurity',
    'internet.OnlineBackup': 'OnlineBackup',
    'internet.DeviceProtection': 'DeviceProtection',
    'internet.TechSupport': 'TechSupport',
    'internet.StreamingTV': 'StreamingTV',
    'internet.StreamingMovies': 'StreamingMovies',
    'account.Contract': 'Contract',
    'account.PaperlessBilling': 'PaperlessBilling',
    'account.PaymentMethod': 'PaymentMethod',
    'account.Charges.Monthly': 'MonthlyCharges',
    'account.Charges.Total': 'TotalCharges'
})

print("Datos cargados y transformados con éxito.")

Datos cargados y transformados con éxito.

## 3. Exploración Inicial y Verificación de Datos
Ahora, exploraremos el DataFrame para entender su estructura, los tipos de datos y si existen problemas evidentes como valores nulos o formatos incorrectos.

In [6]:
# Mostrar las primeras 5 filas para tener una vista previa
print("Vista previa de los datos:")
print(df.head())

# Obtener información general del DataFrame, incluyendo tipos de datos y valores no nulos
print("\nInformación general del DataFrame:")
df.info()

# Revisar si hay valores duplicados
print(f"\nNúmero de filas duplicadas: {df.duplicated().sum()}")

# La columna 'TotalCharges' se cargó como 'object'. Es un problema común que debemos corregir.
# Vamos a investigar por qué.
# Intentaremos convertirla a numérico, y los valores que fallen se marcarán como NaT (Not a Time) o NaN (Not a Number).
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Ahora, contemos cuántos valores nulos hay en 'TotalCharges' después de la conversión.
print(f"\nValores nulos en 'TotalCharges' después de la conversión: {df['TotalCharges'].isnull().sum()}")

# Veamos las filas donde 'TotalCharges' es nulo para entender la causa.
print("\nFilas con 'TotalCharges' nulos:")
print(df[df['TotalCharges'].isnull()][['Tenure', 'MonthlyCharges', 'TotalCharges']])

Vista previa de los datos:
   customerID Churn  Gender  SeniorCitizen Partner Dependents  Tenure  \
0  0002-ORFBO    No  Female              0     Yes        Yes       9
1  0003-MKNFE    No    Male              0      No         No       9
2  0004-TLHLJ   Yes    Male              0      No         No       4
3  0011-IGKFF   Yes    Male              1     Yes         No      13
4  0013-EXCHZ   Yes  Female              1     Yes         No       3

  PhoneService MultipleLines InternetService  ... OnlineBackup  \
0          Yes            No             DSL  ...          Yes
1          Yes           Yes             DSL  ...           No
2          Yes            No     Fiber optic  ...           No
3          Yes            No     Fiber optic  ...          Yes
4          Yes            No     Fiber optic  ...           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No         Yes         Yes              No        One year
1               No          No          No             Yes  Month-to-month
2              Yes          No          No              No  Month-to-month
3              Yes          No         Yes             Yes  Month-to-month
4               No         Yes         Yes              No  Month-to-month

  PaperlessBilling     PaymentMethod MonthlyCharges  TotalCharges
0              Yes      Mailed check           65.6         593.3
1               No      Mailed check           59.9         542.4
2              Yes  Electronic check           73.9        280.85
3              Yes  Electronic check           98.0       1237.85
4              Yes      Mailed check           83.9         267.4

[5 rows x 21 columns]

Información general del DataFrame:
   customerID Churn  Gender  SeniorCitizen Partner Dependents  Tenure  \
0  0002-ORFBO    No  Female              0     Yes        Yes       9
1  0003-MKNFE    No    Male              0      No         No       9
2  0004-TLHLJ   Yes    Male              0      No         No       4
3  0011-IGKFF   Yes    Male              1     Yes         No      13
4  0013-EXCHZ   Yes  Female              1     Yes         No       3

  PhoneService MultipleLines InternetService  ... OnlineBackup  \
0          Yes            No             DSL  ...          Yes
1          Yes           Yes             DSL  ...           No
2          Yes            No     Fiber optic  ...           No
3          Yes            No     Fiber optic  ...          Yes
4          Yes            No     Fiber optic  ...           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No         Yes         Yes              No        One year
1               No          No          No             Yes  Month-to-month
2              Yes          No          No              No  Month-to-month
3              Yes          No         Yes             Yes  Month-to-month
4               No         Yes         Yes              No  Month-to-month

  PaperlessBilling     PaymentMethod MonthlyCharges  TotalCharges
0              Yes      Mailed check           65.6         593.3
1               No      Mailed check           59.9         542.4
2              Yes  Electronic check           73.9        280.85
3              Yes  Electronic check           98.0       1237.85
4              Yes      Mailed check           83.9         267.4

[5 rows x 21 columns]

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   Gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   Tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  MonthlyCharges    7267 non-null   float64
 20  TotalCharges      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Número de filas duplicadas: 0

Valores nulos en 'TotalCharges' después de la conversión: 11

Filas con 'TotalCharges' nulos:
      Tenure  MonthlyCharges  TotalCharges
975        0           56.05           NaN
1775       0           20.00           NaN
1955       0           61.90           NaN
2075       0           19.70           NaN
2232       0           20.25           NaN
2308       0           25.35           NaN
2930       0           73.35           NaN
3134       0           25.75           NaN
3203       0           52.55           NaN
4169       0           80.85           NaN
5599       0           19.85           NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   Gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   Tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  MonthlyCharges    7267 non-null   float64
 20  TotalCharges      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Número de filas duplicadas: 0

Valores nulos en 'TotalCharges' después de la conversión: 11

Filas con 'TotalCharges' nulos:
      Tenure  MonthlyCharges  TotalCharges
975        0           56.05           NaN
1775       0           20.00           NaN
1955       0           61.90           NaN
2075       0           19.70           NaN
2232       0           20.25           NaN
2308       0           25.35           NaN
2930       0           73.35           NaN
3134       0           25.75           NaN
3203       0           52.55           NaN
4169       0           80.85           NaN
5599       0           19.85           NaN